body {
  font-family: "Abril Fatface", serif;
  background-color: #8c8c89;
  background-image: url(http://www.transparenttextures.com/patterns/batthern.png);
}

h1 {
  font-family: "Abril Fatface", serif;
  margin-top: 20px;
}

p{
  font-family: "Poppins", sans-serif;
  color: #555;
  line-height: 1.6;
}

.guest-section {
  margin: 20px;
  padding: 15px;
  background-color: #a4aaaa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

 .guest-section img {
   width: 150px;
   height: auto;
   border-radius: 
   float: left;
   margin-right: 20px;
}

 .guest-section::after {
            content: "";
            display: table;
            clear: both;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        li {
            color: #333;
            font-size: 18px;
            margin-bottom: 5px;
        }

        .menu-section {
            background-color: #5d6870;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
        }

        form {
            background-color: #e1f4e1;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
        }

        input[type="text"], textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        input[type="radio"] {
            margin: 10px;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }