h1, h2 {
    font-family: "Sacramento", sans-serif;
}

p {
    font-family: "Alice", serif;
}

table, th, td {
     border: 1px solid;

}

th, td {
  padding: 10px;
}

div {
  border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}