body {
    background-color: #6fa4af;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
}

h2 {
    font-family: "Ubuntu Bold", sans-serif;
    color: #D97D55;

}

p {
    font-family: "Open Sans", serif;
    color: #B8C4A9;
}

.assignment-list {
  margin: 20px;
  padding: 15px;
  background-color: #F4E9D7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.guest-section img {
width: 150px;
height: auto;
border-radius: 50%;
float: left;
margin-right: 20px;
 }