/* krub-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Krub';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/krub-v11-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* krub-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Krub';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/krub-v11-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* krub-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Krub';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/krub-v11-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/inter-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/inter-v20-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p, li {
  font-size: 1em;
  font-family: "krub", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;

}

body {
  color: #333;
  background-color: #f7f7f7;
  line-height: 1.6;
}

main {
  margin-top: 80px;
  padding: 20px;

}

.main {
  background-image: url('images/chicago.jpg');
  background-size: cover;
  background-position: center;
  color: #C35626;
  text-align: center;
  padding: 80px 10px;
}

.main h1 {
  font-family: 'Inter', serif;
  font-size: 4rem;
  font-weight: 900;
}

.main p {
  font-size: 2rem;
  margin: 10px 0 20px;
  font-weight: 800;
}

header {
  background-color: #30525C;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  padding: 8px 12px;
  transition: color 0.5s;
}

header nav ul li a:hover {
  color: #C35627;
}

/* Highlights Section */
 .highlights {
   margin: 40px auto;
   max-width: 800px;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 0 rgba(0, 0, 0, .5);
}

.highlights h2 {
  font-size: 3em;
  color: #30435C;
  font-weight: 800;
}

.highlight-item p, li{
  font-family: "krub", serif;
  font-size: 2em;
}

.highlight-item {
  background: #DCA;
  border-radius: 10px;
  padding: 40px;
  margin: 40px auto;
  max-width: 800px;
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.highlight-item img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 10px;
}

/* Form Stuff */
.contact-form-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.contact-form-container {
  background-color: #DCA;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 600px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-family: "Krub", sans-serif;
  color: #30525C;
  margin-bottom: 10px;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.3s;
}

input:focus, textarea:focus {
  border-color: #30525C;
}

textarea {
  resize: vertical;
}

button.cta {
  background-color: #4C848D;
  color: white;
  border: none;
  padding: 12px;
  font-family: "Krub", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button.cta:hover {
  background-color: #30525C;
}

/* Contact Information */
.contact-info {
  text-align: center;
  margin-top: 20px;
  padding: 10;
}

.contact-info h2 {
  font-size: 3rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  color: #C35627;
}

.contact-info ul {
  list-style-type: none;
  margin-top: 20px;
}

.contact-info li {
  font-size: 1.2rem;
  margin: 10px 10;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 40px;
}