




nav {
	width: 100%;
	display: flex;
	align-content: space-between;
}

nav li {
	list-style-type: none;
	
	
}

nav li a {
	text-decoration: none;
	margin: 12px 5px 12px 5px;
	padding: 10px;
	background-color: rgb(181, 230, 197);
	border: 3px rgb(94, 167, 106) solid;
	border-radius: 6px;
	
}

nav li a:hover {
	border-color: rgb(176, 230, 207);
	background-color: rgb(114, 179, 146);
	color: white;

}